.vscode
build/
devel/
install/
src/jason_controller/bin/*
.catkin_workspace
erl.code-workspace
output/
logs/
.catkin_tools/
*.pyc
*.pkl
src/nav/nav_tests/src/speedtest.py
src/hri/auth.json
bin/
lib/
.gitold
.DS_Store
.gitattributes
.gitmodules
catkin_make_with_dep.sh
Dockerfile
notebooks/
src/cv/
src/hri/
src/manip/
src/jason_controller/
Graspit instructions/
src/nav/example_stuff/
src/nav/nav_tests/src/hsr_stuff
compile_flags.txt
docker-compose.nvidia.yml
docker-compose.testbed.yml
docker-compose.yml
Dockerfile.binaries
Dockerfile.nvidia
get-images.sh
LICENSE.txt
pull-images.sh
README_ja.md
README.md
set-rosmaster.sh
supervisord.conf
vgg_face_weights.h5
src/CMakeLists.txt
src/nav/keep.txt
src/nav/output.txt
src/nav/nav_tests/src/semantic_copy.py
src/nav/nav_tests/src/tempnode.py
src/nav/nav_tests/src/test_semantic_copy.py
